/*.grid_page_right_col, .grid_page_left_col {*/
/*    display: none !important*/
/*;*/
/*}*/

/*body {*/
/*    height: 100%;*/
/*    word-wrap: break-word;*/
/*    color: #333;*/
/*    font-family: "Merriweather", serif;*/
/*    font-size: 13px;*/
/*    overflow-y: scroll;*/
/*    overflow-x: auto;*/
/*}*/

/*.grid_page_center_col {*/
/*    width: 710px  !important;*/
/*    min-height: 2px !important;*/
/*    margin-left: 3% !important;*/
/*    padding-left: 190px !important;*/
/*}*/

/*span.question_text {*/
/*    font-family: "Merriweather", serif ;*/
/*    font-size: 30px;*/
/*    line-height: 1.2em*/
/*;*/
/*}*/

/*.AnswerBase, .inline_editor_content, .feed_type_answer .TruncatedAnswer, .AnswerListItem .TruncatedAnswer, .feed_type_answer .ExpandedAnswer, .AnswerListItem .ExpandedAnswer {*/
/*    text-align: justify*/
/*    ;*/
/*    font-family: "Merriweather", serif ;*/
/*    font-size: 1.8rem;*/
/*    line-height: 1.2em;*/
/*    letter-spacing: .11rem*/
    
/*;*/
/*}*/

/*ActionBar.sticky, ActionBar {*/
/*    width: 650px;*/
/*}*/

/*div.Answer.ActionBar.ClsWithPageLocations.sticky {*/
/*    width: 710px;*/
/*}*/

/*.ContentFooter {*/
/*    font-family: "Merriweather", serif ;*/
/*}*/

.question_related a {
    font-size: 4px  !important;
    font-weight: 100  !important;
    color: #008cba !important;
}

.AnswerListDiv {
    font-family: Source Sans Pro,sans-serif !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.EndorseByTopicSidebar {
    visibility: hidden !important;
}

.EventHeader {
    font-family: Source Sans Pro,sans-serif !important;
    font-size: 14px !important;
}

.ExpandedAnswer {
    font-family: Source Sans Pro,sans-serif !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.ExpandedQuestionDetails {
    font-family: Georgia,Times,"Times New Roman",serif !important;
    font-size: 18px !important;
    line-height: 1.4 !important;
}

.IdentitySig, .ActorNameSig, .IdentityNameSig {
    font-family: Ubuntu !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    line-height: 1.5 !important;
}

.QuestionText {
    font-size: 22px !important;
}

.RelatedQuestions, .related_question {
    font-size: 13px !important ;
}

.TopicNameSpan {
    font-family: Source Sans Pro,sans-serif !important;
}

.TruncatedAnswer {
    color: #757575 !important;
    font-size: 20px !important;
}

.TruncatedQText {
    color: #757575 !important;
    font-size: 20px !important;
}

.activation_sidebar_header {
    display: none !important;
}

.feed_item {
    background: #fff !important;
    border-radius: 9px !important;
    box-shadow: 0 2px 6px 2px rgba(0,0,0,.05) !important;
    margin-bottom: 24px !important;
    padding: 21px 22px 22px 22px !important;
    position: relative !important;
    transition: box-shadow .1s ease-out !important;
    width: 100% !important;
}

.feed_item_answer_user {
    font-family: Ubuntu !important;
    font-weight: 400 !important;
}

.layout_3col_left {
    visibility: hidden !important;
}

.question_details {
    font-family: Source Sans Pro,sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.question_link {
    font-family: Source Sans Pro,sans-serif !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.question_related li {
    font-size: 10px !important;
}

.question_text {
    font-family: Source Sans Pro,sans-serif !important;
    font-size: 23px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
}

.question_text_edit {
    font-family: Source Sans Pro,sans-serif !important;
    font-size: 25px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
}

body {
    font-family: Source Sans Pro,sans-serif !important;
}

div.HomeMainFeedHeader {
    font-family: Source Sans Pro,sans-serif !important;
}

div.layout_3col_right.home_feed_right_col {
    display: none !important;
}

/*.RelatedQuestions {
    font-size: 10px !important;
    margin-left: 50px !important;
    width: 370px !important
;
}*/

.QuestionStats {
    display: none !important;
}

.NewGridQuestionPage, .QuestionMain{
	margin-left:190px !important;
}
.RelatedQuestions {
    font-size: 10px !important;
    margin-left: -124px !important;
    width: 553px !important;
}

